/* CSS styles for the body */
body {
    font-family: "JetBrains Mono", serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 20px;
}

/* CSS styles for the h1 heading */
h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ff00ff;
    text-shadow: 2px 2px 4px #000;
}

/* CSS styles for the article section */
article {
    background-color: #444;
    border: 2px solid #70db31;
    padding: 20px;
    margin-bottom: 30px;
}

/* CSS styles for the h2 heading within the article */
article h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #62b42f;
    text-shadow: 1px 1px 2px #000;
}

/* CSS styles for the paragraph within the article */
article p {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 20px;
}

/* CSS styles for the image within the article */
article img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    box-shadow: 4px 4px 8px #000;
}

a {
    text-decoration: none;
}

#ascii-art {

    font-family: "JetBrains Mono", serif;
    font-size: 14px;
    color: green;
    background-color: black;
    padding: 10px;
}
